<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://ykwade.github.io/cjq.github.io/jys.ipa</string>
		<key>displayImageURL</key>
		<string>https://ykwade.github.io/cjq.github.io/57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://ykwade.github.io/cjq.github.io/1024.png</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.jy.date1</key>
		<string>jys_ahoc_2020_10_07</string>
	</dict>
	<key>signingCertificate</key>
	<string>A2502D6B886E63CECEA6DC3939DF20FE03B1E315</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>T27E5Y9F7J</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
